# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode
*.uvguix.*
*.lst
*.log
*.bin
*.dbgconf
*.scvd
*.lst

JLinkLog.txt
JLinkSettings.ini
RTE_Components.h
src/ws2811_lightstrip/MDK-ARM/DebugConfig/
src/ws2811_lightstrip/MDK-ARM/ws2811_lightstrip/
src/ws2811_lightstrip/MDK-ARM/RTE/
